@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mapboxgl-ctrl-top-left {
  display: none;
}

.pill-button {
  align-items: center;
  color: white;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Pill Button Hover Effect */
.pill-button:hover {
  background-color: #0056b3;
}

/* Text in the Pill */
.pill-text {
  margin-right: 8px;
}

/* Close Icon */
.pill-close {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

/* Close Icon Hover Effect */
.pill-close:hover {
  color: #ff4757;
}

#route-info {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}
#route-info p {
  margin: 0px;
}
#slider-container {
  display: inline-flex;
  align-items: center;
}
.material-icons {
  display: inline;
}
.select-start-button {
  margin: 10px auto 0px auto;
  display: block;
  background-color: #008cba;
  border: none;
  color: white;
}
.pubs-label {
  margin-right: 5px;
}
.attractions-label {
  margin-right: 5px;
}
.waypoint-info {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.custom-marker {
  background-color: #555;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
/* Spinner and overlay */
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 500;
  display: none;
}

.blurred {
  filter: blur(5px);
}

#locations {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.material-icons {
  font-size: initial;
}
.num-markers {
  margin: 0px 3px;
}
.num-attractions {
  margin: 0px 3px;
}
@media screen and (min-width: 799px) {
  #rightBar {
    position: absolute;
    top: 70px;
    right: 15px;
    z-index: 1;
  }
}
.bar-select {
  width: 200px;
}
.listing-group {
  font:
    15px/20px "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 600;
  border-radius: 3px;
  color: #fff;
}
.listing-group input[type="button"]:first-child + label {
  border-radius: 3px 3px 0 0;
}

.listing-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.listing-group input[type="button"] {
  display: none;
}

.listing-group input[type="button"] + label {
  background-color: #3386c0;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.listing-group input[type="button"] + label {
  background-color: #3386c0;
  text-transform: capitalize;
}

.listing-group input[type="button"] + label:hover,
.listing-group input[type="button"]:checked + label {
  background-color: #4ea0da;
}

.listing-group input[type="button"]:checked + label:before {
  content: "✔";
  margin-right: 5px;
}

/* Style for the tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position the tooltip above the emblem */
  left: 50%;
  margin-left: -190px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the info emblem */
.info-emblem:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Arrow below the tooltip text */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.marker {
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background-color: red;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal.hidden {
  display: none;
}

.modal_content {
  position: relative;
  margin: auto 0;
  width: 300px;
  height: 200px;
  background-color: lightgray;
  border: 3px solid #999999;
  text-align: center;
  padding: 20px 40px;
}
#exit {
  display: block;
}
#distance-slider {
  margin-right: 20px;
}
.mapboxgl-popup {
  max-width: 400px;
  font:
    12px/20px "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif;
}
.toggle-btn {
  /* color: black;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px; */
}

.marker-label {
  margin: 2px;
  border-radius: 2px;
}

.sidebar button:hover {
  color: #f1f1f1;
}

.sidebar .close-btn {
  font-size: 20px;
  text-align: center;
  background-color: #008cba;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 10% auto;
  width: 40%;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

.btn-circle:hover {
  border-color: #0c3d5d;
  color: #0c3d5d;
}

@media screen and (max-width: 799px) {
  div#slider-container.top-bar {
    display: none;
  }
  #rightBar {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
  }
  .listing-group {
    font:
      14px/20px "Helvetica Neue",
      Arial,
      Helvetica,
      sans-serif;
  }
  .sidebar-label {
    width: 200px;
    padding-left: 10%;
  }
  .btn-side {
    width: 40px;
    height: 40px;
  }
}
